{% extends 'base.html.twig' %}
{% block body %}

<h1> {{ fournisseur.nom }} </h1>
<div class="container">
    <div class="row" <div class="row new-products">
        <!--useing slick-->
        {% for produit in produits %}
        <div class="col-sm-3 card single-product ">
            <div class="card-body">
                <div class="product-image ">
                    <a href="{{ path('single_product', {'slug': produit.slug }) }}"><img src="{{ produit.image }}" class="w-100" alt=""><a/>
                        <a href="#" class="add-to-favourite"><i class="far fa-heart icon-change"></i></a>
                </div>
                <a href="{{ path('single_product', {'slug': produit.slug }) }}">
                <div class="card-title product-title"> {{ produit.nom }} </div></a>
                <div class="product-price">{{ produit.prix }} MAD </div>
                
            </div>
        </div>
        {% endfor %}
        </div>
                <div class="navigation">
                {{ knp_pagination_render(pagination) }}
                <div>
       
    </div>
</div>
{% endblock body %}