{% extends 'base.html.twig' %}
{% block stylesheets %}
<style>
    body {
        padding-top: 80px;

    }
</style>

{% endblock %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-4 ">
            <img src="{{ single_p.image }}" class="rounded float-left" style="border: solid 1px gray;" alt="">
        </div>

        <div class="col-lg-6 product-pre" >
            <div>
                <h4>{{ single_p.nom }}</h4>
            </div>
            <div>
                <p class="text-left lead" style="font-weight:80";>{{ single_p.description }}</p>
            </div>
             <div>
                <a href="{{ path('show_marque', {'slug': fournisseur.slug }) }}">{{ fournisseur.nom }}</a>
            </div>
            <div>
                <h1 class="text-left">{{ single_p.prix }} $</h1>
            </div>

            <div class="col-lg-3">
                <label for="Qté" class=" text-left">Quantité</label>
                <input type="number" class="form-control" name="Qté" value="1">

            </div>
            <button type="button" class="btn btn-primary btn-sm" style="margin-top:40px;" >Ajouter au panier</button>
        </div>


    </div>
</div>



{% endblock %}