{% extends 'base.html.twig' %}
{% block stylesheets %}
<style>
    body {
        padding-top: 80px;

    }
   .rounded{
       height:100%;
       padding: 5px 0 20px 0;
        -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.4);
   }
   
       
</style>

{% endblock %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg">
            <img src="{{ asset('/brows_file/' ~ single_p.image) }}" class="rounded float-left w-100" alt="">
        </div>

        <div class="col-lg-6 product-pre">
            <div>
                <h4 class="text-left title-css">{{ single_p.nom|upper }}</h4>
                <h6>Referance: {{ single_p.referance }}</h6>
            <a href="{{ path('show_marque', {'slug': fournisseur.slug }) }}" class="btn btn-link">{{ fournisseur.nom }}<a>
            </div>
            <div>
                <h1 class="text-left price-css">{{ single_p.prix }} MAD</h1>
            </div>
            <div>
                <p class="text-left lead" style="font-weight:80" ;>{{ single_p.description|raw }}</p>
            </div>

            {% if single_p.stock > 0 %}
            <form action="{{ path('shopping') }}" method="post">
                <div class="col-lg-3">
                    <label for="qte" class=" text-left">Quantité</label>
                    <input type="number" class="form-control" name="qte" value="1" min="1">
                    <input type="hidden" name="product_id" value="{{ single_p.id }}">
                </div>
                <div class="col-lg-3">
                    <button type="submit" name="submit" class="btn btn-primary btn-sm" style="margin-top:40px;">
                        <i class="fas fa-cart-plus"></i>
                        <spane>ACHETER</spane>
                    </button>
                    <div><i class="fas fa-check"></i> en stock </div>
            </form>
            {% else %}
            <div class="alert alert-info" role="alert">
            <spane><i class="fas fa-times"></i> ce produit n'est pas disponile pour le moment !!
            </div>


            </spane>

            {% endif %}
        </div>
    </div>
</div>
</div>



{% endblock %}