{% extends 'base.html.twig' %}

{% block title %}babyStuff | Panier{% endblock %}

{% block stylesheets %}
<style>
    body {
        padding-top: 80px;
    }

    img {
        width: 30%;
        height: 20%;
    }

    th {
        color: black;
    }

    hr {
        background-color: black;
    }

    tr {
        width: 50%;
    }

    .table {
        padding: 10px 30px 10px 30px;
    }

    .row {
        margin: 30px;
    }

    .col-lg-12 {
        padding: 20px;
    }

    .image_B {
        height: 150px;
        max-width: 150px;
        object-fit: cover;
    }

    .btn,
    .btn:hover {
        color: black;
    }

</style>

{% endblock %}



{% block body %}
<div class="row">
    <div class="col-lg-12">
        {% if cartDetails.products is not empty and cartDetails.products is defined %}
        <div>
            <h2>Votre Panier</h2>
        </div>
        <table class="table " style="color:black;">
            <thead>
                <tr>

                    <th scope="col">Vos produits</th>
                    <th scope="col">Description</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Prix</th>
                    <th style="text-align:right;"> Total</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for product in cartDetails.products %}
                <tr class="item">

                    <td style="margin-top:10px">
                        <span><img src="{{ asset('/brows_file/' ~ product.product.image) }}" class="image_B w-100"
                                alt="">
                            <span>
                                <div class="row"> <a
                                        href="{{ path('single_product', {'slug': product.product.slug }) }}">
                                        <strong>{{ product.product.nom }}</strong>
                                    </a></div>

                    </td>
                    <td>
                        {{ product.product.description|raw }}
                    </td>

                    <td>
                        <div class="form-group">
                            <div>
                                <input type="number" name="quantity" required="required" min="1"
                                    class="form-control quantity" value="{{ product.quantity }}"
                                    data-url="cart/edit/quantity/{{product.product.id}}">
                            </div>
                        </div>
                    </td>
                    <td>
                        <h6>{{ product.product.prix }}</h6>
                        <small>MAD</small>
                    </td>
                    <td style="text-align: right">
                        <h6 class="sum-product">{{ product.sum }}</h6>
                        <small>MAD</small>
                    </td>
                    <td>
                        <a href="#" class="btn btn-danger glyphicon glyphicon-remove product-remove"
                            data-toggle="confirmation" data-popout="true" data-placement="left"
                            data-url="{{ path('remove_one_product',{'id':product.product.id}) }}">
                            <span><small><i class="fas fa-times"></i></small></span>
                        </a>
                    </td>
                </tr>

                {% endfor %}
                <hr>
            </tbody>
        </table>


        <div class="col-sm-4 card " style="position: absolute;right: 150px; color:black;">
            <i class="fas fa-shopping-bag"></i>
            <div style="color:green">
                <strong style="color:black;">TTC:</strong>
                <h6 class="sum-total">
                    {{ cartDetails.totalsum }}
                </h6> <small>MAD</small>
            </div>


        </div>



        <div class="row">

            <div>
                <div>
                    <a href="{{ path('user_order') }}" class="btn btn-success" id="">
                        Commandez maintenant !
                    </a>
                    <a href="#" class="btn btn-danger glyphicon glyphicon-trash clear-cart" data-toggle="confirmation"
                        data-popout="true" data-placement="left" data-url="{{ path('remove_all_products') }}">
                        vider le panier <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <p><a href="{{ path('home') }}" class="btn btn-warning"><i class="fas fa-chevron-left"></i>
                    <span>Continuer vos achats</span>
                </a></p>
        </div>



        <!-- ******************************************if cart is empty****************************************** -->

        {% else %}
        <div class="row">
            <div>
                <h2>votre panier est vide 🛒!!</h2>
            </div>
        </div>
        <div class="row">
            <p><a href="{{ path('home') }}" class="btn btn-warning"><i class="fas fa-chevron-left"></i>
                    <span>Continuer vos achats</span>
                </a></p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/cart.js') }}"></script>
{% endblock %}
