{% extends 'base.html.twig' %}

{% block title %}babyStuff | Panier{% endblock %}

{% block stylesheets %}
<style>
    body {
        padding-top: 80px;
    }

    img {
        width: 30%;
        height: 20%;
    }

    th {
        color: black;
    }
    hr{
        background-color:black;
    }
    tr{
        width:50%;
    }
    .table{
       padding:10px 30px 10px 30px;
    }
</style>

{% endblock %}



{% block body %}
<div class="row">
    <div class="col-lg-12">
        {% if cartDetails.products is not empty and cartDetails.products is defined %}
        <div>
            <h2>Votre Panier</h2>
        </div>
        <table class="table ">
            <thead>
                <tr>

                    <th>Vos produits</th>
                    <th>Quantité</th>
                    <th></th>
                    <th>Prix</th>
                    <th style="text-align:right;"> Total</th>
                </tr>
            </thead>
            <tbody>
                {% for product in cartDetails.products %}
                <tr >


                   <td class="col-lg-3">
                            <a href="{{ path('single_product', {'slug': product.product.slug }) }}">
                                <strong>{{ product.product.nom }}</strong>
                            </a>
                        <a href="#" class="pull-left">
                            <img src="{{ asset('/brows_file/' ~ product.product.image) }}" alt="">
                        </a>
                         
                    </td>
                          
                            


                    <td class="col-lg-3">
                        <div class="form-group">
                            <div>
                                <input type="number" name="quantity" required="required" min="1" data-id=""
                                    class="form-control quantity" value="{{ product.quantity }}">
                            </div>
                        </div>
                    </td>
                    <td class="col-lg-1">
                        <a href="#" class="btn btn-danger glyphicon glyphicon-remove product-remove"
                            data-toggle="confirmation" data-popout="true" data-placement="left">
                            <small><i class="fas fa-times"></i></small>

                        </a>
                    </td>
                    <td class="col-lg-3 price">
                        <span>{{ product.product.prix }}</span> <small>MAD</small>
                    </td>
                    <td class="col-lg-3 sum" style="text-align: right">
                        {{ product.sum }} <small>MAD</small>
                    </td>
                </tr>

                {% endfor %}
               

            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6" style="text-align: right;">
                        <strong style="color:black;">Total sum:</strong>
                        <span class="totalsum">{{ cartDetails.totalsum }}</span> <small>MAD</small>
                    </td>
                </tr>
            </tfoot>
                <hr />
        </table>


        <div class="row">

            <div>
                <div>
                    <a href="{{ path('user_giorder') }}" class="btn btn-success" id="">
                        Commandez maintenant !
                    </a>
                    <a href="#" class="btn btn-danger glyphicon glyphicon-trash clear-cart" data-toggle="confirmation"
                        data-popout="true" data-placement="left">
                        vider le panier <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <p><a href="{{ path('show-all-categories') }}" class="btn btn-warning"><i class="fas fa-chevron-left"></i>
                    <spane>Continuer vos achats</spane>
                </a></p>
        </div>



        <!-- ******************************************if cart is empty****************************************** -->

        {% else %}
        <div class="row">
            <div>
                <h2>votre cart est vide !!</h2>
            </div>
        </div>
        {% endif %}
    </div>
</div>


{% endblock %}