{% extends 'base.html.twig' %}

{% block title %}babyStuff | Panier{% endblock %}

{% block stylesheets %}
<style>
    body {
        padding-top: 80px;
    }

    img {
        width: 30%;
        height: 20%;
    }

    th {
        color: black;
    }

    hr {
        background-color: black;
    }

    tr {
        width: 50%;
    }

    .table {
        padding: 10px 30px 10px 30px;
    }

    .row {
        margin: 30px;
    }

    .col-lg-12 {
        padding: 20px;
    }

    .image_B {
        height: 150px;
        max-width: 150px;
        object-fit: cover;
    }

</style>

{% endblock %}



{% block body %}
<div class="row">
    <div class="col-lg-12">
        {% if cartDetails.products is not empty and cartDetails.products is defined %}
        <div>
            <h2>Votre Panier</h2>
        </div>
        <table class="table " style="color:black;">
            <thead>
                <tr>

                    <th scope="col">Vos produits</th>
                    <th scope="col">Description</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Prix</th>
                    <th style="text-align:right;"> Total</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for product in cartDetails.products %}
                <tr>

                    <td style="margin-top:10px">
                        <span><img src="{{ asset('/brows_file/' ~ product.product.image) }}" class="image_B w-100"
                                alt="">
                            <spane>
                                <div class="row"> <a
                                        href="{{ path('single_product', {'slug': product.product.slug }) }}">
                                        <strong>{{ product.product.nom }}</strong>
                                    </a></div>

                    </td>
                    <td>
                        {{ product.product.description }}
                    </td>

                    <td>
                        <div class="form-group">
                            <div>
                                <input type="number" name="quantity" required="required" min="1" data-id=""
                                    class="form-control quantity" value="{{ product.quantity }}">
                            </div>
                        </div>
                    </td>
                    <td>
                        <span>{{ product.product.prix }}</span> <small>MAD</small>
                    </td>
                    <td style="text-align: right">
                        {{ product.sum }} <small>MAD</small>
                    </td>
                    <td>
                        <a href="#" class="btn btn-danger glyphicon glyphicon-remove product-remove"
                            data-toggle="confirmation" data-popout="true" data-placement="left">
                            <spane><small><i class="fas fa-times"></i></small></spane>
                        </a>
                    </td>
                </tr>

                {% endfor %}
                <hr>
            </tbody>
        </table>


        <div class="col-sm-4 card " style="position: absolute;right: 150px; color:black;">
                <i class="fas fa-shopping-bag"></i>
            <div>
                <strong style="color:black;">TTC:</strong>
                {{ cartDetails.totalsum }} <small>MAD</small>
            </div>
            <div>
                <strong style="color:black;">Quantité :</strong>
                {{ cartDetails.products[0].quantity }}
            </div>
           
        </div>



        <div class="row">

            <div>
                <div>
                    <a href="{{ path('user_giorder') }}" class="btn btn-success" id="">
                        Commandez maintenant !
                    </a>
                    <a href="#" class="btn btn-danger glyphicon glyphicon-trash clear-cart" data-toggle="confirmation"
                        data-popout="true" data-placement="left">
                        vider le panier <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <p><a href="{{ path('show-all-categories') }}" class="btn btn-warning"><i class="fas fa-chevron-left"></i>
                    <spane>Continuer vos achats</spane>
                </a></p>
        </div>



        <!-- ******************************************if cart is empty****************************************** -->

        {% else %}
        <div class="row">
            <div>
                <h2>votre cart est vide !!</h2>
            </div>
        </div>
        {% endif %}
    </div>
</div>


{% endblock %}
