 {% extends "admin/base-admin.html.twig" %}
 {% block stylesheets %}

 <style>
     .form_categorie {
         margin: 5% 5%;
     }

     .form-control {
         top: 15px 0 15px 0;
     }

     .required,
     .valider {
         margin-top: 25px;
     }
 </style>
 {% endblock %}

 {% block head %}
 <div class="form_categorie">
     <h1> Nouvelle Categorie </h1>

         {{ form_start(form) }}
         {{ form_row(form.nom) }}
         {{ form_row(form.description) }}
         {{ form_row(form.image) }}
         <div style="margin:30px 0 30px 0;">
         <img src="{{ asset('/brows_file/' ~ categorie.image) }}" class="image_B">
         </div>
         {{ form_end(form) }}

         </div>
             {% endblock %}