 {% extends "admin/base-admin.html.twig" %}
 {% block stylesheets %}

 <style>
    .form_product {
       margin: 5% 5%;
    }

    .form-control {
       top: 15px 0 15px 0;
    }

    .required,
    .valider {
       margin-top: 25px;
    }

    .image_B {
       height: 150px;
       width: 200px;
       object-fit: cover;
    }
 </style>
 {% endblock %}

 {% block head %}
 <div class="form_product">
    <h1> Modifer Produit </h1>
    <div>
       <div class="form_product">
          {{ form_start(form) }}
          {{ form_row(form.referance) }}
          {{ form_row(form.nom) }}
          {{ form_row(form.categorie) }}
          {{ form_row(form.fourniseur) }}
          {{ form_row(form.description) }}
          {{ form_row(form.image) }}
          <img src="{{ asset('/brows_file/' ~ product.image) }}" class="image_B">
          {{ form_row(form.prix) }}
          {{ form_row(form.stock) }}

          {{ form_end(form) }}
          <div>
             {% endblock %}