  {% extends "admin/base-admin.html.twig" %}
  {% block stylesheets %}

  <style>
      .image_B {
          width: 50%;

      }

      td,
      th {
          text-align: center;
      }
  </style>
  {% endblock %}

  {% block head %}
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <h1 class="Welcom-title"> list des Produits </h1>
          </div>
          {# / part backend client settings #}
      </div>
      {# / part backend client settings #}
  </div>
  <div class="row">

      <div class="col-sm-3">

          {% include 'admin/menu.html.twig' %}
      </div>
      <div class="col-sm-9">
          <div>
              <a href="{{ path('new_product') }}" class=" btn btn-primary" style="margin:5px;">
               <i class="fas fa-plus"></i> 
                  <spane>Nouvelle Produit</spane>
              </a>
          </div>

          <table class="table" id="product">
              <thead>
                  <tr bgcolor="d7f7f5">
                      <th scope="col">Referance</th>
                      <th scope="col">Produit</th>
                      <th scope="col">Categorie</th>
                      <th scope="col">Fournisseur</th>
                      <th scope="col">Prix</th>
                      <th scope="col">image</th>
                      <th scope="col">Quantité</th>
                      <th scope="col-md-2">actes</th>
                  </tr>
              </thead>
              <tbody>
                  {% for product in pagination %}

                  <tr>
                      <td> {{ product.referance }}</td>
                      <td>{{ product.nom }}</td>
                      <td>{{ product.categorie.nom }}</td>
                      <td>{{ product.fourniseur.nom }}</td>
                      <td>{{ product.prix }}</td>
                      <td><img src="{{ asset('/brows_file/' ~ product.image) }}" class="image_B"></td>
                         <td>{{ product.stock }}</td>
                      <td>
                          <spane class="col-3">
                              <a href="{{ path('product_detail', {'slug': product.slug }) }}"><i class="fas fa-eye btn-light btn-sm"></i></a>
                              <a href="{{ path('new_product') }}"><i class="fas fa-pencil-alt btn-light btn-sm"></i></a>
                              <a href="#"><i class="far fa-bookmark btn-light btn-sm"></i></a>
                          </spane>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
      </div>
       <div class="navigation pagination-sm" style="padding-left:1000px;">
          {{ knp_pagination_render(pagination) }}
          </div>
      {% endblock %}