{% extends 'base.html.twig' %}
{% block stylesheets %}
<style>
 
  .form-title 
  {
    text-align: center;
    margin: 10px 0 40px 0;
  }
  .col-sm-5{
    margin: 10px 0 40px 300px;
  }
  label{
        color: black;
  }
</style>

{% endblock %}

{% block title %}Babystuff | se connecter{% endblock %}

{% block body %}
<div class="wrapper fadeInDown">
  <div id="formContentRe">
    <!-- Tabs Titles -->
    <h1>Bienvenu sur BabyStuff</h1>
    <!-- Register Form -->
    <section class="signup">
      <!-- <img src="images/signup-bg.jpg" alt=""> -->
      <div class="container form-centre">
        <div class="signup-content">
          <form method="POST" id="signup-form" class="signup-form">
            <h2 class="form-title"> Create account</h2>
              {{ form_start(form) }}
              {{ form_row(form.nom, {'attr': {'placeholder':'Votre Nom'}})}}

              {{ form_row(form.prenom, {'attr': {'placeholder':'Votre Prénom'}})}}
              

              {{ form_row(form.telephone, {'attr': {'placeholder':'+221 6 00 00 00'}})}}
              

              {{ form_row(form.adresse, {'attr': {'placeholder':'Votre Adresse'}})}}
         

              {{ form_row(form.email, {'attr': {'placeholder':'Enter votre e-mail'}})}}

              {{ form_row(form.password, {'attr': {'placeholder':'Mot de passe !'}})}}
          
              {{ form_row(form.confirm_password, {'attr': {'placeholder':'Répétez votre mot de passe '}})}}

        </form>
         {{ form_end(form) }}

        <p class="loginhere">
          Vous avez déjà un compte ? <a href="{{ path('login') }}" class="loginhere-link">Connectez-vous ici</a>
        </p>
      </div>
  </div>
  </section>

</div>

</div>
{% endblock %}