 {% extends "admin/base-admin.html.twig" %}
 {% block stylesheets %}
 {{ asset('preview.png') }}
 <style>
    .form_product {
       margin: 5% 5%;
    }

    .form-control {
       top: 15px 0 15px 0;
    }

    .required,
    .valider {
       margin-top: 25px;
    }

    .btn-success,
    .btn {
       margin-left: 30px;
    }

   

    .avatar-upload {
       position: relative;
       max-width: 205px;
       margin: 50px auto;
    }

    .avatar-upload .avatar-edit {
       position: absolute;
       right: 12px;
       z-index: 1;
       top: 10px;
    }

    .avatar-upload .avatar-edit input {
       display: none ! important;
    }

    .avatar-upload .avatar-edit input+label {
       display: inline-block;
       width: 34px;
       height: 34px;
       margin:0 0 0 60px;
       border-radius: 100%;
       background: #FFFFFF;
       border: 1px solid transparent;
       box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
       cursor: pointer;
       font-weight: normal;
       transition: all 0.2s ease-in-out;
    }

    .avatar-upload .avatar-edit input+label:hover {
       background: #f1f1f1;
       border-color: none;
    }

    .avatar-upload .avatar-edit input+label:after {
       content: "\f093";
       font-family: 'Font Awesome 5 Free';
       color: #757575;
       position: absolute;
       font-weight: 900;
       left: 0;
       display: inline-block;
       width: 34px;
       height: 34px;
       margin-bottom: 0;

       box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
       cursor: pointer;
       transition: all 0.2s ease-in-out;
    }

    .avatar-upload .avatar-preview {
       width: 192px;
       height: 192px;
       position: relative;
       border-radius: 100%;
       border: 6px solid #F8F8F8;
       box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    }

    .avatar-upload .avatar-preview>div {
       width: 100%;
       height: 100%;
       border: solid 1px #cccccc;
       border-radius: 5px;
       background-size: cover;
       background-repeat: no-repeat;
       background-position: center;
    }

    .avatar-upload .invalid-feedback {
       display: none !important;
    }
 </style>
 {% endblock %}

 {% block head %}
 <div class="form_product">
    <h1> Nouvelle Produit </h1>



    {{ form_start(form) }}
    <div class="row">
       <div class="col-md-6">{{ form_row(form.referance) }}</div>
    </div>

    <div class="row">
       <div class="col-md-6">{{ form_row(form.nom) }}</div>
    </div>

    <div class="row">
       <div class="col-md-6">{{ form_row(form.categorie) }}</div>
    </div>

    <div class="row">
       <div class="col-md-6">{{ form_row(form.fourniseur) }}</div>
    </div>

    <div class="row">
       {{ form_row(form.description) }}
    </div>

    <div class="row ">
       <div col="col-12">
          <div class="avatar-upload">
             <div class="avatar-edit">
                <div class="col-md-12">{{ form_row(form.image) }}</div>
                <label for="imageUpload"></label>
             </div>
             <div class="avatar-preview">
                <div id="imagePreview" style="background-image: url({{ asset('preview.png') }});">
                </div>
             </div>
          </div>
       </div>
    </div>

    <div class="form-error row" style="margin:5px 0 50px 0;">
       {{ form_errors(form.image) }}
    </div>

    <div class="row">
       <div class="col-md-6">{{ form_row(form.prix) }}</div>
    </div>

    <div class="row">
       <div class="col-md-6">{{ form_row(form.stock) }}</div>
    </div>

    {{ form_end(form) }}
 </div>
 {% endblock %}


 {% block javascripts %}
 <script>
    function readURL(input) {
       if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
             $('#imagePreview').css('background-image', 'url(' + e.target.result + ')');
             $('#imagePreview').hide();
             $('#imagePreview').fadeIn(650);
          }
          reader.readAsDataURL(input.files[0]);
       }
    }
    $("#produit_image").change(function () {
       readURL(this);
    });
 </script>
  <script src="{{ asset('js/backend_admin.js') }}"></script>


 {% endblock %}