 {% extends "admin/base-admin.html.twig" %}
 {% block stylesheets %}

 <style>
    .form_product {
       margin: 5% 5%;
    }

    .form-control {
       top: 15px 0 15px 0;
    }

    .required,
    .valider {
       margin-top: 25px;
    }

     .btn-success, .btn {
        margin-left: 30px;
     }
        .list-group-item,
    .bg-primary,
    .btn
    {
        background-image: linear-gradient(to right,#203A43    ,#0F2027);
            color: #fff;
    }
    
 </style>
 {% endblock %}

 {% block head %}
 <div class="form_product">
    <h1> Modifer Produit </h1>
    {{ form_start(form) }}
    <div class="row">
       <div class="col-md-3">{{ form_row(form.referance) }}</div>
       <div class="col-md-3">{{ form_row(form.nom) }}</div>
    </div>
    <div class="row">
       <div class="col-md-3">{{ form_row(form.categorie) }}</div>
       <div class="col-md-3">{{ form_row(form.fourniseur) }}</div>
    </div>
    <div class="row">
       {{ form_row(form.description) }}
    </div>
    <div class="row">

       <div class="col-md-6">
          <div class="form-group">{{ form_row(form.image) }}</div>
       </div>
    </div>

    <div class="row">
       <div class="col-md-3">{{ form_row(form.prix) }}</div>
       <div class="col-md-3">{{ form_row(form.stock) }}</div>
    </div>

    {{ form_end(form) }}
 </div>
 {% endblock %}