  {% extends "admin/base-admin.html.twig" %}
  {% block stylesheets %}

  <style>
    .image_B {
      height: 150px;
      width: 200px;
      object-fit: cover;
    }

    td,
    th {
      text-align: center;
    }


  </style>
  {% endblock %}

  {% block head %}
  <div class="container">
    <div class="row ">
      <div class="col-lg-12">
        <h1 class="Welcom-title" style="margin:5%;"> Produit en détail </h1>
      </div>
    </div>
  </div>

  <div class="row w-100" style="margin-left:150px">
    <div class="col-sm-9">
      <table class="table w-100">
        <tr>
          <th bgcolor="#f3f9fb">Referance</th>
          <td>{{ single_p.referance }}</td>
        </tr>
        <tr>
          <th bgcolor="#f3f9fb">Nom du produit</th>
          <td>{{ single_p.nom }}</td>
        </tr>
        <tr>
          <th bgcolor="#f3f9fb">Description</th>
          <td>{{ single_p.description|raw }}</td>
        </tr>
        <tr>
          <th bgcolor="#f3f9fb">Categories</th>
          <td>{{ single_p.categorie.nom }}</td>
        </tr>
        <tr>
          <th bgcolor="#f3f9fb">Fournisseur</th>
          <td>{{ single_p.fourniseur.nom }}</td>
        </tr>
        <tr>
          <th bgcolor="#f3f9fb">Prix</th>
          <td>{{ single_p.prix }}</td>
        </tr>
        <tr>
          <th bgcolor="#f3f9fb">Image</th>
          <td><img src="{{ asset('/brows_file/' ~ single_p.image) }}" class="image_B"></td>
        </tr>
        <tr>
          <th bgcolor="#f3f9fb">Quantité</th>
          <td>{{ single_p.stock }}</td>
        </tr>
      </table>
      <hr>
      <div class="row">
        <div class="col-3" style="margin-left:-65px">
          <ul class="list-group-sm" style="text-align:center;">
            <li class="list-group-item"><a href="{{ path('admin_product') }}" class="btn btn-warning btn-sm"><i
                  class="fas fa-arrow-circle-left"></i>
                <spane>retour</spane>
              </a></li>
            <li class="list-group-item"> <a href="{{ path('product_edit',{'slug':single_p.slug}) }}"
                class="btn btn-primary btn-sm"> <i class="far fa-edit"></i>
                <spane>Modifer</spane>
              </a></li>
            <li class="list-group-item"> <a href="{{ path('product_delete', {'slug': single_p.slug}) }}"
                class="btn btn-danger btn-sm" id="alert"><i class="fas fa-trash-alt"> </i>
                <spane>supprimer</spane>
              </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}

  {% block javascripts %}

  {% endblock %}
