  {% extends "admin/base-admin.html.twig" %}
  {% block stylesheets %}
  <style>
      .container {
          margin-top: 50px;
      }

      .alert {
          text-align: center;
          float: center;
      }

  </style>

  {% endblock %}

  {% block head %}
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <h1 class="Welcom-title"> list des Produits </h1>
          </div>
      {% for message in app.flashes('success') %}
      <div class="alert p-2 sm-success alert-success" role="alert">
          {{ message }}
          {% endfor %}
      </div>
      {% for message in app.flashes('info') %}
      <div class="alert p-2 m-auto sm-info alert-info" role="alert">
          {{ message }}
      </div>
      {% endfor %}

      {% for message in app.flashes('info_delete') %}
      <div class="alert alert-danger" role="alert">
          {{ message }}
      </div>
      {% endfor %}
      </div>


  </div>


  <div class="row">
      <div class="col-sm-3">
          {% include 'admin/menu.html.twig' %}
      </div>
      <div class="col-sm-9">
          <div>
              <a href="{{ path('new_product') }}" class=" btn btn-primary"
                  style="margin:5px; background-color:##34314f;">
                  <i class="fas fa-plus"></i>

              </a>
          </div>
          <table class="table">
              <thead>
                  <tr bgcolor="d7f7f5">
                      <th scope="col">Referance</th>
                      <th scope="col">Produit</th>
                      <th scope="col">Catégorie</th>
                      <th scope="col">Marques</th>
                      <th scope="col">Prix</th>
                      <th scope="col">image</th>
                      <th scope="col">Quantité</th>
                      <th scope="col-md-2">actes</th>
                  </tr>
              </thead>
              <tbody>
                  {% for product in pagination %}

                  <tr>
                      <td> {{ product.referance }}</td>
                      <td>{{ product.nom }}</td>
                      <td>{{ product.categorie.nom }}</td>
                      <td>{{ product.fourniseur.nom }}</td>
                      <td>{{ product.prix }}</td>
                      <td><img src="{{ asset('/brows_file/' ~ product.image) }}" class="image_B"></td>
                      <td>{{ product.stock }}</td>
                      <td>

                          <a href="{{ path('product_detail', {'slug': product.slug }) }}"><i
                                  class="fas fa-eye btn-light btn-sm"></i></a>
                          <a href="{{ path('product_edit', {'slug': product.slug }) }}"><i
                                  class="fas fa-pencil-alt btn-light btn-sm"></i></a>
                          <a href="#" class="add-features"><i
                                  class="far fa-bookmark icon-change btn-light btn-sm"></i></a>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
  <div class="navigation pagination-sm">
      {{ knp_pagination_render(pagination) }}
  </div>
  {% endblock %}
