<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}BabyStuff{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="{{ asset('/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ asset('/safari-pinned-tab.svg') }} color=" #5bbad5">

    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bower_components/font-awesome/css/all.css') }}">
    <link rel="stylesheet" href="{{ asset('bower_components/bootswatch/dist/Minty/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bower_components/slick-carousel/slick/slick.css') }}">
    <link rel="stylesheet" href="{{ asset('bower_components/slick-carousel/slick/slick-theme.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">


    {% block stylesheets %}{% endblock %}
</head>

<body>
    <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <a class="navbar-brand" href="{{ path('home') }}">
            <i class="fas fa-baby-carriage">
            </i>BabyStuff</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">


                <li class="nav-item">
                    <a class=" nav-link scroll" href="{{ path('marques') }}"> Marques </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">Nos Produits</a>
                    <div class="dropdown-menu">
                    {% for categorie in categoriesMenu %}
                        <a class="dropdown-item" href="{{ path('show_categorie',{'slug': categorie.slug }) }}"> {{ categorie.nom }} </a>
                        <div role="separator" class="dropdown-divider"></div>
                    {% endfor %}
                        <a class="dropdown-item" href="{{ path('show-all-categories') }}">tous les catégories</a>

                    </div>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('about') }}">A propos </a>
                </li>


            </ul>


            <ul class="navbar-nav mr-auto">
                <li class="nav-item">

                    <a class="nav-link" href="{{ path('shopping') }}"> Panier
                        <i class="fas fa-shopping-basket"> 
                        {% if (app.session.get('my_cart').total is defined) and (app.session.get('my_cart').total is not null) %}
                            {{app.session.get('my_cart').total}}$
                        {% else %}
                        0$
                        {% endif %}
                        
                         </i>
                    </a>


            </ul>

            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('login') }}"> Se connecter </a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="#"> S'inscrire </a>
                </li>




            </ul>

            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="mots clé...">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Recherche</button>

            </form>

        </div>
    </nav>

</div>
    {% block body %} {% endblock %}





    <div id="container">

        <div id="footer">
            <i class="fas fa-baby-carriage"></i>
            <h5> BabyStuff © </h6>
            {{ "now"|date("Y") }}
        </div>
    </div>

    <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bower_components/slick-carousel/slick/slick.min.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>

</html>