<style>
  @media (min-width: 780px) {
    .animate {
      animation-duration: 0.3s;
      -webkit-animation-duration: 0.3s;
      animation-fill-mode: both;
      -webkit-animation-fill-mode: both;
    }
  }

  @keyframes slideIn {
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }

    100% {
      transform: translateY(0rem);
      opacity: 1;
    }

    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
  }

  @-webkit-keyframes slideIn {
    0% {
      -webkit-transform: transform;
      -webkit-opacity: 0;
    }

    100% {
      -webkit-transform: translateY(0);
      -webkit-opacity: 1;
    }

    0% {
      -webkit-transform: translateY(1rem);
      -webkit-opacity: 0;
    }
  }

  .slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
  }

  .btn-group {
    right: -120px;
  }

  nav.active {
    background: #b0deff;
  }

  .search-container {
    position: absolute;
    width: 200px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    transition: width 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .active .search-container {
    width: 55%;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
  }

  .search-inner-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: 5px;
  }

  .search-bar {
    width: 100%;
    padding: 1em 4em 1em 4.5em;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    outline: none;
    box-sizing: border-box;
    color: transparent;
    transition: color 0.5s ease;
  }

  .active .search-bar {
    color: #000;
  }

  .search-submit {
    position: absolute;
    z-index: 2;
    right: 7px;
    top: 5px;
    text-align: center;
    line-height: 40px;
    font-size: 2em;
    width: 40px;
    height: 40px;
    color: white;
    background: #d4d4d4;
    border-radius: 5px;
    -webkit-transform: translate(120%, 0);
    transform: translate(120%, 0);
    transition: background 0.5s ease, -webkit-transform 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: transform 1s cubic-bezier(0.68, -0.55, 0.265, 1.55), background 0.5s ease;
    transition: transform 1s cubic-bezier(0.68, -0.55, 0.265, 1.55), background 0.5s ease, -webkit-transform 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .active .search-submit {
    background: #b0deff;
    color: white;
    -webkit-transform: translate(0%, 0);
    transform: translate(0%, 0);
  }

  .search-submit:hover {
    background: #000;
  }

  .search-icon {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2em;
    text-align: center;
    width: 100%;
    line-height: 50px;
    color: #aaa;
  }

  .search-text-container {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform-origin: center;
    transform-origin: center;
    height: 50px;
    width: 75px;
    transition: 0.3s -webkit-transform ease;
    transition: 0.3s transform ease;
    transition: 0.3s transform ease, 0.3s -webkit-transform ease;
    -webkit-animation: rotate 5s infinite forwards;
    animation: rotate 5s infinite forwards;
  }

  .active .search-text-container {
    -webkit-animation: none;
    animation: none;
  }

  .search-text-list {
    position: absolute;
    top: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    font-size: 16px;
    font-weight: 600;
    list-style-type: none;
    height: 50px;
    width: 75px;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-animation: fade 5s infinite forwards;
    animation: fade 5s infinite forwards;
  }

  .active .search-text-list {
    -webkit-animation: none;
    animation: none;
    display: none;
  }

  .search-text-list div {
    position: absolute;
    color: #aaa;
  }

  .search-text-list div:nth-child(1) {
    top: -40px;
    left: 50%;
    right: 50%;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }

  .search-text-list div:nth-child(2) {
    top: 0;
    left: 75px;
    margin: auto;
  }

  .search-text-list div:nth-child(3) {
    bottom: -40px;
    left: 50%;
    right: 50%;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .search-text-list div:nth-child(4) {
    top: 0;
    right: 75px;
    margin: auto;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  @-webkit-keyframes rotate {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }

    20%,
    25% {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }

    45%,
    50% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }

    70%,
    75% {
      -webkit-transform: rotate(270deg);
      transform: rotate(270deg);
    }

    95%,
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes rotate {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }

    20%,
    25% {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }

    45%,
    50% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }

    70%,
    75% {
      -webkit-transform: rotate(270deg);
      transform: rotate(270deg);
    }

    95%,
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @-webkit-keyframes fade {
    0% {
      opacity: 1;
    }

    10% {
      opacity: 0;
    }

    25% {
      opacity: 1;
    }

    35% {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    60% {
      opacity: 0;
    }

    75% {
      opacity: 1;
    }

    85% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes fade {
    0% {
      opacity: 1;
    }

    10% {
      opacity: 0;
    }

    25% {
      opacity: 1;
    }

    35% {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    60% {
      opacity: 0;
    }

    75% {
      opacity: 1;
    }

    85% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

</style>

<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="shadow">
    <a class="navbar-brand" href="{{ path('home') }}">
      <i class="fas fa-baby-carriage">
      </i> BabyStuff<small><sub>Demo</sub></small></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>

    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav sm-auto">


        <li class="nav-item">
          <a class=" nav-link scroll" href="{{ path('marques') }}"> Marques </a>
        </li>

        <li class="nav-item dropdown" id="navbarSupportedContent">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">Nos Produits</a>
          <div class="dropdown-menu  animate slideIn" aria-labelledby="navbarDropdown">
            {% for categorie in categoriesMenu %}
            <a class="dropdown-item" href="{{ path('show_categorie', {'slug': categorie.slug }) }}">
              {{ categorie.nom }} </a>
            <div role="separator" class="dropdown-divider"></div>
            {% endfor %}
            <a class="dropdown-item" href="{{ path('show-all-categories') }}">tous les catégories</a>

          </div>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="{{ path('about') }}">A propos </a>
        </li>
      </ul>

      <ul class="navbar-nav ">
        <div class="search-container" style="left: 700px;">
          <div class="search-inner-container ">
            <form >
              <input type="text" id="search" class="search-bar" name="q">
              <a href="#" class="search-submit">
                <i class="fas fa-arrow-right"></i>
              </a>
              <div class="search-text-container">
                <div class="search-icon">
                  <i class="fas fa-search"></i>
                  <div class="search-text-list">
                    <div>All</div>
                    <div>Produits</div>
                    <div>Images</div>
                    <div>Marques</div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </ul>



      <ul class="navbar-nav ml-auto">
        <a class="nav-link" href="{{ path('shopping') }}" style="margin-right: 80px;"> Panier
          <i class="fas fa-shopping-basket"></i>
          {% if cartDetails is defined and cartDetails is not null %}
          <span id="totalSum">{{cartDetails.totalsum}}</span> <small>MAD</small>
          {% else %}
          <span><small>0 MAD</small></span>
          {% endif %}
        </a>



        {% if is_granted("ROLE_USER") %}
        <li class="navbar-nav mr-auto">
          <small><a class="nav-link " href="{{ path('user_favorite') }}" style="margin-right:50px;">
              <span class="fa-stack">

                <i class="far fa-heart fa-stack-2x " style="font-size:30px;"></i>
                <span class="fa-stack-1x " style="margin-left:1px;">
                  <small> {{ app.user.likes|length }}</small>
                </span>

              </span>
            </a></small>
        </li>

        <ul class="navbar-nav " style="margin-right:120px; margin-left:-100px;">
          <div class="btn-group">
            <li class="nav-item dropdown" id="navbarSupportedContent">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                aria-expanded="true">
                <small> <span>Slaut!</span> {{ app.user.nom }} {{ app.user.prenom }} </small>
              </a>
              <div class="dropdown-menu  animate slideIn" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ path('user_account') }}">
                  <i class="far fa-user-circle"></i>
                  <spane> Mon Espace </spane>
                </a>
                <a class="dropdown-item" href="{{ path('user_favorite') }}"><i class="fas fa-heart"></i>
                  <spane> Favorites </spane>
                </a>
                <a class="dropdown-item" href="{{ path('user_profile_edit') }}"><i class="fas fa-cogs"></i>
                  <spane> Paramètre </spane>
                </a>
                {% if is_granted("ROLE_ADMIN") %}
                <a class="dropdown-item" href="{{ path('admin') }}"><i class="fas fa-desktop"></i>
                  <spane> Back-Office </spane>
                </a>
                {% endif %}
                <a class="dropdown-item" href="{{ path('logout') }}"><i class="fas fa-sign-out-alt"></i>
                  <spane> Deconnexion </spane>
                </a>
            </li>
          </div>

        </ul>
        {% else %}

        <li class="navbar-nav" style="margin-right: 100px;">
          <i class="far fa-heart nav-link"></i>
        </li>


        <ul class="navbar-nav ">
          <li class="navbar-nav ">
            <a class="nav-link" href="{{ path('security_login') }}"><i class="fas fa-sign-in-alt"></i>
              <spane> <small>Se connecter</small> </spane>
            </a>
          </li>
        </ul>

        {% endif %}
    </div>
  </nav>

</div>
