<style>
  @media (min-width: 780px) {
    .animate {
      animation-duration: 0.3s;
      -webkit-animation-duration: 0.3s;
      animation-fill-mode: both;
      -webkit-animation-fill-mode: both;
    }
  }

  @keyframes slideIn {
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }

    100% {
      transform: translateY(0rem);
      opacity: 1;
    }

    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
  }

  @-webkit-keyframes slideIn {
    0% {
      -webkit-transform: transform;
      -webkit-opacity: 0;
    }

    100% {
      -webkit-transform: translateY(0);
      -webkit-opacity: 1;
    }

    0% {
      -webkit-transform: translateY(1rem);
      -webkit-opacity: 0;
    }
  }

  .slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
  }
</style>

<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="shadow">
    <a class="navbar-brand" href="{{ path('home') }}">
      <i class="fas fa-baby-carriage">
      </i>BabyStuff</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>

    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav sm-auto">


        <li class="nav-item">
          <a class=" nav-link scroll" href="{{ path('marques') }}"> Marques </a>
        </li>

        <li class="nav-item dropdown" id="navbarSupportedContent">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">Nos Produits</a>
          <div class="dropdown-menu  animate slideIn" aria-labelledby="navbarDropdown">
            {% for categorie in categoriesMenu %}
            <a class="dropdown-item" href="{{ path('show_categorie', {'slug': categorie.slug }) }}">
              {{ categorie.nom }} </a>
            <div role="separator" class="dropdown-divider"></div>
            {% endfor %}
            <a class="dropdown-item" href="{{ path('show-all-categories') }}">tous les catégories</a>

          </div>
        </li>

        <li class="nav-item ">
          <a class="nav-link" href="{{ path('about') }}">A propos </a>
        </li>


      </ul>


      <ul class="navbar-nav ml-auto">
        <li class="nav-item">

          <a class="nav-link" href="{{ path('shopping') }}"> Panier
            <i class="fas fa-shopping-basket">
              {% if cartDetails is defined and cartDetails is not null %}
              {{cartDetails.totalsum}} <spane><small>MAD</small></spane>
              {% else %}
              <spane><small>0 MAD</small></spane>
              {% endif %}

            </i>
          </a>
      </ul>
      {% if is_granted("ROLE_USER") %}

      <ul class="navbar-nav ml-auto">
        <div class="btn-group">
          <a href="#"><i class="fas fa-caret-down"></i> </a>
          <a href="#" class="nav-link"> Hi {{ app.user.nom }}</a>
          <li class="navbar-nav ml-auto">
            <a class="nav-link" href="{{ path('logout') }}"> Deconnexion </a>
          </li>
      </ul>
      {% else %}
     
      <ul class="navbar-nav ml-auto">
        <li class="navbar-nav ml-auto">
          <a class="nav-link" href="{{ path('security_login') }}"> Se connecter </a>
        </li>
      </ul>

      {% endif %}


    </div>
  </nav>

</div>