{% extends 'base.html.twig' %}
{% block title %}BabyStuff | Account-Profile{% endblock %}

{% block stylesheets %}
<style>
    body,
    html {
        height: 100%;
        width: 100%;
    }

    .container-list {
        margin: 10px 0 10px 10px;
    }

   form{
       margin-left:20%;
       color:black;
   }

</style>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="Welcom-title"> Paramètre-Mot de passe | <small>{{ (app.user.nom) }}</small>
            <h1>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        {% include 'user_account/menu.html.twig' %}
    </div>
    <div class="col-md-9">
        {{ form_start(form) }}
        <div class="row ">
            <div class="col-md-5">{{ form_row(form.password.first) }}</div>
        </div>
        <div class="row ">
            <div class="col-md-5">{{ form_row(form.password.second) }}</div>
        </div>
        {{ form_end(form) }}
    </div>
</div>




{% endblock %}

{% block javascripts %}
<script>


</script>
{% endblock %}
