{% extends 'base.html.twig' %}
{% block title %}BabyStuff | Account-Profile{% endblock %}

{% block stylesheets %}
<style>
    body,
    html {
        height: 100%;
        width: 100%;
    }

    .container-list {
        margin: 10px 0 10px 10px;
    }



    .card-body {
        padding: 50px;
    }

    h5 {
        padding: 10px;
    }

    .btn-default {
        color: black;
    }

    #edit_user_confirm_password {
        display: none;
    }

</style>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="Welcom-title"> Paramètre-Mot de passe | <small>{{ (app.user.nom) }}</small>
            <h1>
    </div>
</div>
  <div class="col-sm-6">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-5">{{ form_row(form.password) }}</div>
            <div class="col-md-5">{{ form_row(form.confirm_password) }}</div>
        </div>
        {{ form_end(form) }}
        
    </div>



{% endblock %}

{% block javascripts %}
<script>
   

</script>
{% endblock %}
