{% extends 'base.html.twig' %}
{% block title %}BabyStuff | User-Orders{% endblock %}

{% block stylesheets %}
<style>
    body,
    html {
        height: 100%;
        width: 100%;
    }

    .card-body {
        padding: 50px;
    }

    .card {
        margin-left: 50px;
    }


    .image_B {
        height: 100px;
        max-width: 150px;
        object-fit: cover;
    }

    h5 {
        padding: 10px;
    }

</style>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="Welcom-title"> {{ (app.user.nom) }} | <small>List des commandes</small>
            <h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        {% include 'user_account/menu.html.twig' %}
    </div>
    <div class="col-sm-9  ">
        <div class="col-md-11 card ">
            <table class="table " style="color:black">
                <thead>
                    <th bgcolor="#f3f9fb"> Produit</th>
                    <th bgcolor="#f3f9fb">Description</th>
                    <th bgcolor="#f3f9fb">Image</th>
                    <th bgcolor="#f3f9fb">Prix</th>
                    <th bgcolor="#f3f9fb">Date</th>

                </thead>
                <tbody>
                    <tr>
                        <td> {{likes.product.nom}}</td>
                        <td> {{ likes.product.description|raw }} </td>
                        <td><img src="{{ asset('/brows_file/' ~ likes.product.image) }}" class="image_B"></td>
                        <td> {{likes.product.prix}}
                            <span><small>MAD</small><span>
                        </td>
                        <td>
                            {{ likes.createdAt|date("m/d/Y H:i", "Europe/Paris")}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



{% endblock %}
