{% block stylesheets %}
<style>
  .container {
    width: 100%;
    position: relative;
    padding: 30px 0 10px 0px;
  }

  .row {
    margin-left: 0 auto;
  }

  .list-group {
    margin: 5px 0 0 0;
  }

  .col-sm-3 {
    left: -100px;
  }

</style>

{% endblock %}
{% block body %}

<div class="container-list">
  <div class="list-group ">
    <a href="{{ path('user_orders_list') }}" class="list-group-item " style="color:black"><i class="fas fa-box-open"></i>
      Mes commandes({{ app.user.commandes|length}})
    </a>
    <a href="{{ path('user_favorite') }}" class="list-group-item" style="color:black"><i class="fas fa-heart"></i>
      Mes favorites
    </a>
    <a href="{{ path('user_profile') }}" class="list-group-item " style="color:black"><i class="fas fa-user"></i>
        Profile
      </a>
      <a href="{{ path('user_password_edit') }}" class="list-group-item" style="color:black"><i class="fas fa-lock"></i>
        Changer le mot de passe
      </a>

      <a href="{{ path('logout') }}" class="list-group-item" style="color:black"><i
          class="fas fa-sign-out-alt"></i>
        Deconnexion
      </a>
  </div>
</div>
{% endblock %}
