  {% extends "admin/base-admin.html.twig" %}
  {% block stylesheets %}

  <style>
      .image_B {
          height: 150px;
          width: 200px;
          object-fit: cover;
      }

      td,
      th {
          text-align: center;
      }
  </style>
  {% endblock %}

  {% block head %}
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <h1 class="Welcom-title"> list des Marques </h1>
          </div>
          {# / part backend client settings #}
      </div>
      {# / part backend client settings #}
  </div>
  <div class="row">

      <div class="col-sm-2">

          {% include 'admin/menu.html.twig' %}
      </div>
      <div class="col-sm-10">
          <div>
              <a href="{{ path('new_brand') }}" class=" btn btn-primary" style="margin:5px;">
                  <i class="fas fa-plus"></i>
              </a>
          </div>
          <table class="table">
              <thead>
                  <tr bgcolor="d7f7f5">
                      <th scope="col">N°</th>
                      <th scope="col">Marques</th>
                      <th scope="col">Descriprtion</th>
                      <th scope="col">image</th>
                      <th scope="col-md-2">actes</th>
                  </tr>
              </thead>
              <tbody>
                  {% for brand in pagination %}
                  <tr>
                      <th scope="row">{{ brand.id }}</th>
                      <td>{{ brand.nom }}</td>
                      <td>{{ brand.description }}</td>
                      <td><img src="{{ asset('/brows_file/' ~ brand.image) }}" class="image_B"></td>
                      <td>
                          <a href="{{ path('brand_detail',{'slug':brand.slug}) }}"><i class="fas fa-eye btn-light btn-sm"></i></a> <a href="{{ path('edit_brand',{'slug':brand.slug}) }}"><i
                                  class="fas fa-pencil-alt btn-light btn-sm"></i></a>

                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
  <div class="navigation pagination-sm" style="padding-left:1000px;">
      {{ knp_pagination_render(pagination) }}
  </div>
  {% endblock %}