{% extends 'base.html.twig' %}

{% block title %}BabyStuff | Orders{% endblock %}
{% block stylesheets %}
<style>
    .form-group {
        margin: 100px 0 50px 50px;
    }

    label {
        color: black;
    }

    hr {
        background-color: black;
    }

    .image_B {
        height: 150px;
        max-width: 150px;
        object-fit: cover;
    }

    .card {
        margin-bottom:-30%;
        position: absolute;
        bottom: 100px;
        right: 150px;
        color: black;

    }
    .row{
            padding-top: 30px;
    }
    strong{
          padding-top: 20px;
    }

</style>
{% endblock %}

{% block body %}


<div class="form-group">
    {{ form_start(form) }}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class="row">
        <div class="col-sm-3">{{ form_row(form.nomUtilisateur, {'value':app.user.nom }) }}</div>
        <div class="col-sm-3">{{ form_row(form.PrenomUtilisateur, {'value':app.user.prenom }) }}</div>
    </div>

    <div class="col-sm-6">{{ form_row(form.email, {'value':app.user.email }) }}</div>

    <div class="col-sm-6">{{ form_row(form.telephone, {'value':app.user.telephone }) }}</div>

    <div class="col-sm-6">{{ form_row(form.adresse, {'value':app.user.adresse }) }}</div>

    <div class="col-sm-6">{{ form_row(form.commentaire) }}</div>

    
    <div class="col-md-5 card " style="position: absolute;right:1px;">
        <div><h6>votre panier</h6><i class="fas fa-shopping-bag"></i></div>
        <strong>Produit :</strong>
        <div class="row m-auto"> {{ cartDetails.products.nom }}</div>
        <strong>Description :</strong>
        <div class="row m-auto"> {{ cartDetails.products.description }}</div>
        <strong>Image :</strong>
        <div class="row m-auto"><img src="{{ asset('/brows_file/' ~ cartDetails.products.image) }}"
                class="image_B w-100"></div>
        <strong>Prix :</strong>
        <div class="row m-auto">
            <spane>{{ cartDetails.products.prix }} <small>MAD</small> </spane>
        </div>
         <strong>TTC :</strong>
        <div class="row m-auto">
            <h5 style="color:green;">{{ cartDetails.totalsum}} <small>MAD</small> </h5>
        </div>


    </div>
    {{ form_end(form) }}
</div>

{% endif %}
{% endblock %}
