{% extends 'base.html.twig' %}

{% block title %}BabyStuff | Orders{% endblock %}
{% block stylesheets %}
<style>
    .form-group {
        margin:100px 0 50px 50px;
    }
   
    
    label{
        color:black;
    }

</style>
{% endblock %}

{% block body %}


<div class="form-group">
    {{ form_start(form) }}
    <div class="row">
        <div class="col-sm-3">{{ form_row(form.nomUtilisateur) }}</div>
        <div class="col-sm-3">{{ form_row(form.PrenomUtilisateur) }}</div>
    </div>

        <div class="col-sm-6">{{ form_row(form.email) }}</div>

        <div class="col-sm-6">{{ form_row(form.telephone) }}</div>

        <div class="col-sm-6">{{ form_row(form.adresse) }}</div>

        <div class="col-sm-6">{{ form_row(form.commentaire) }}</div>

    {{ form_end(form) }}
</div>
{% endblock %}
